body {
    background-color: #f5f5f5;
    font-family: Futura;
    margin: 0;
}

img {
    max-width: 100%;
}

header{
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
}
header p{
    margin: 0; 
    color: white;
    padding: 20px;
}
header nav ul{
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    gap: 17px;
}
header a {
    text-decoration: none;
    color: white;

}

header nav a:hover {
    text-decoration: underline;
}

.primaparte {
    max-width: 988px;
    margin: auto;

}

.titolo {
    margin: auto;
    max-width: 988px;
    position: absolute;
    color:black;
    margin: auto;
}
.titolo h1 {
    font-size: 40px;
    padding: 0 64px;
}

.titolo p{
    font-size: 28px;
    padding: 0 64px;
}

.primaparte h2{
    font-size: 32px;
    text-align: center;
}

.testo2 p{
    font-size: 24px;
    text-align: center;
    font-style: normal;

}

.primaparte.img1 {
    width: 100%;
    max-width: 998px;
    object-fit: cover;
    margin: 0 auto; 
    object-position: center;
    position: absolute;
}
.testo1{
    padding: 0 96px;
    margin: auto;
}
    
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    max-width: 988px;
    padding: 60px 20px;
    margin: auto;
    gap: 20px;
}

.overlay:hover {
    opacity: 0.5;
}

section.card a {
    text-decoration: none;
    color: black;
}

section.card h2 {
    margin: 0;
    padding: 40px 20px;
    font-size: 24px;
}

section.card img {
    height: 260px;
    max-width: 252px;
    object-fit: cover;
}

hr{
    width: 860px;
}

.text h1{
    font-size: 40px;
    padding: 0px 84px;
}

.container {
    display: grid;
    max-width: 998px;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 41px 84px 60px 20px;
}


.text p {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    padding: 0px 84px;

}

footer{
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
}
footer p2{
    margin: 0; 
    color: white;
    padding: 20px;
}
footer nav ul{
    margin: 0;
    padding: 20px;
    list-style: none;
    display: flex;
    gap: 17px;
}
footer a {
    text-decoration: none;
    color: white;

}

footer nav a:hover {
    text-decoration: underline;
}
h1{
     font-size: 48px;
     max-width: 988px;
     margin: auto;
    
}
p{
    font-size: 24px;
    padding: 0 41px;
    max-width: 988px;
    margin: auto;
}
.immaginimostra{
    max-width: 252px;
}
.pmostra{
    max-width: 988px;
    font-size: 20px;
}
h2{
    max-width: 988px;
    padding: 20px 41px;
    font-size: 32px;
    margin: auto;
}
.mappa img{
    max-width: 988px;
    padding: 20px 50px;
    margin: auto;
}

section.cards {
    column-count: 3;
    column-gap: 20px;
    max-width: 988px;
    padding: 41px 20px 60px 20px;
    margin: auto;
    gap: 20px;
}
section.cards img{
    margin-bottom: 20px;
}
.image{
    width: 350px;
    display: flex;
}



@media (max-width:800px) {

    .titolo h1 {
        font-size: 26px;
    }
    
    .titolo p{
        font-size: 16px;
    }

    .primaparte h2{
        font-size: 24px;
        text-align: center;
    }
    

    section.cards {
        column-count: 1;
    }
    .container p {
        font-size: 18px;
    }

    .immaginimostra {
        padding: 16px;
    }
    
    .immaginimostra img {
        padding: 16px;
    }
    .mappa img{
        padding: 41px;
    }
}